[submodule "vendor/daytona"]
	path = vendor/daytona
	url = https://github.com/daytonaio/daytona.git
[submodule "vendor/octokit.js"]
	path = vendor/octokit.js
	url = https://github.com/octokit/octokit.js.git
[submodule "vendor/pi"]
	path = vendor/pi
	url = https://github.com/earendil-works/pi.git
[submodule "vendor/workos-node"]
	path = vendor/workos-node
	url = https://github.com/workos/workos-node.git
[submodule "vendor/effect"]
	path = vendor/effect
	url = https://github.com/Effect-TS/effect.git
[submodule "vendor/alchemy"]
	path = vendor/alchemy
	url = https://github.com/alchemy-run/alchemy-effect.git
[submodule "vendor/sentry-javascript"]
	path = vendor/sentry-javascript
	url = https://github.com/getsentry/sentry-javascript.git
